services:
  vault:
    image: hashicorp/vault:1.21.1
    container_name: vault
    ports:
      - "8200:8200"
    cap_add:
      - IPC_LOCK
    volumes:
      - ./config:/vault/config
      - vault_data:/vault/file
    command: vault server -config=/vault/config/vault.hcl
    restart: unless-stopped

volumes:
  vault_data:

